
@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <h3>Contact</h3>
    <div>
        <p>You can contact us at Food.House@gmail.com</p>
        <p>Please send us a email if you have any questions about</p>
        <p>out website and what we do.</p>
    </div>
</body>
</html>