
@{
    Layout = "_Layout";
    ViewData["Title"] = "History";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <h3>Our History</h3>
    <h5>@ViewBag.CurrentDate</h5>
    <div>
        <p>We Started in 2010</p>
        <p> Some of us are Food House now</p>
        <p>when we first start it was to</p>
        <p> meet new poeple. It still is for</p>
        <p>purpose but now we other purpose to</p>
        <p> that we like to focus on too</p>
    </div>
</body>
</html>